/*hero background*/
:root {
  --text-color: #ECEDF2;
  --accent-color: #C85658;
  --roboto-condensed: 'Roboto Condensed', serif;
  --roboto: 'Roboto', serif;
  --dark-blue: #151625;
  --light-blue: #2D2E47;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--roboto-condensed);
  font-size: 10rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 10px;
}

h2 {
  font-family: var(--roboto);
  font-size: 3rem;
  font-weight: 300;
  color: var(--text-color);
}

h3 {
  font-family: var(--roboto-condensed);
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.2;
}

h4 {
  font-family: var(--roboto-condensed);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 30px;
}

p {
  font-family: var(--roboto);
  color: var(--text-color);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  transition-timing-function: ease;
}

/* hero-background */
.dz-hero-background {
  background-image: url('https://media.giphy.com/media/bPz1w90N6bH7W/giphy.gif');
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scroll-icon {
  position: absolute;
  margin-top: 300px;
}

/* back-to-top-button */
#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555555;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
}

#top-button:hover {
  background-color: #555555;
  opacity: 0.8;
}

/* what-is-hiit */
.dz-info {
  background-color: var(--dark-blue);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.dz-info-container {
  margin-left: 140px;
  margin-right: 140px;
  background-color: var(--light-blue);
  padding: 50px;
  flex-wrap: wrap;
}

.dz-what-is-title {
  margin-bottom:30px;
  margin-top: 30px;
}

#what-is-image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dz-what-is-line {
  margin-top: 100px;
  height: 10px;
  width: 170px;
  position: absolute;
  z-index: 2;
  background-color: var(--accent-color);
  visibility: hidden;
}

.dz-hiit-info{
  flex: 40%;
  min-width:450px;
  padding-right: 20px;
}

/* structure-of-a-hiit-session */
.dz-structure {
  background-color: var(--dark-blue);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.dz-structure-line {
  margin-top: 93px;
  height: 10px;
  width: 300px;
  position: absolute;
  z-index: 2;
  background-color: var(--accent-color);
  visibility: hidden;
}

.dz-structure-container {
  margin-left: 250px;
  margin-right: 250px;
  background-color: var(--light-blue);
  padding: 70px;
  flex-wrap: wrap;
}

.dz-structure-info {
  flex: 60%;
  padding-right: 70px;
}

.dz-structure-details {
  flex: 40%;
}

.dz-structure-title {
  margin-bottom: 30px;
}

.dz-structure-level {
  margin-top: 70px;
}

@media only screen and (max-width: 1200px) {
  #structure-paragraph {
    margin-bottom: 50px;
  }
}

/* benefits-of-hiit */
.dz-benefits {
  background-color: var(--dark-blue);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.dz-benefits-line {
  margin-top: 72px;
  height: 10px;
  width: 112px;
  position: absolute;
  z-index: 2;
  background-color: var(--accent-color);
  visibility: hidden;
}

.dz-benefits-container {
  margin-left: 80px;
  margin-right: 80px;
  background-color: var(--light-blue);
  padding: 50px;
  flex-wrap: wrap;
}

#benefits-header {
  margin-bottom: 30px;
}

.dz-benefits-numbers {
  font-weight: 400;
  font-size: 2rem;
  margin-right: 20px;
}

.dz-benefits-title {
  color: var(--text-color);
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  #benefits-1-image {
    display: none;
  }
  #benefits-2-image {
    display: none;
  }
}

/* benefits-1 */
#benefits-1-image {
  object-fit: cover;
  margin-right: 50px;
}

.dz-benefits-info-1 {
  flex: 50%;
}

.dz-benefits-info-1 p {
  margin-bottom: 50px;
}

/* benefits-2 */
@media only screen and (min-width: 1200px) {
  .dz-benefits-2 {
    margin-top: 50px;
  }
}

#benefits-2-image {
  flex: 50%;
  object-fit: cover;
}

.dz-benefits-info-2 {
  flex: 50%;
}

.dz-benefits-info-2 p {
  margin-bottom: 50px;
  margin-right: 40px;
}

/* exercises */
.dz-exercises-header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.dz-exercises-title {
  color: black;
  margin-bottom: 10px;
}

.dz-exercises-line {
  height: 10px;
  width: 73px;
  background-color: var(--accent-color);
  visibility: hidden;
}

.dz-exercise-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.dz-video {
  flex: 50%;
  object-fit: cover;
  min-width: 500px;
  min-height: 500px;
}

.dz-exercise-details {
  flex: 50%;
  background-color: var(--light-blue);
  padding: 50px;
}

.dz-exercise-name {
  color: var(--text-color);
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 30px;
}

.dz-exercise-explanation {
  margin-bottom: 20px;
}

.dz-exercise-number {
  color: var(--accent-color);
  margin-right: 10px;
}

.dz-exercise-steps {
  margin-bottom: 10px;
}

/* footer */
.dz-footer {
  background-color: var(--light-blue);
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

#footer-message {
  visibility: hidden;
}

/* animations */
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-1 23:55:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}









/* utility */
.dz-layout-row{
  display: flex;
}

.dz-flex-auto{
  flex: auto;
}

.dz-flex-none{
  flex: none;
}

/* @media only screen and (max-width: 600px) {
  #what-is-image {
    display: none;
  }
} */

/* flex: 50%; */
/* max-width: 600px; */
